
<div class="container mt-5 text-center w-75">
    <div class="ps-0 pe-0">
        <div class="col-12 bg-dark text-light">
            <img [src]="recevedads" alt="" srcset="" style="width:100% ;height:150px; transition: all 0.3s ease-in;">
        </div>
    </div>
</div>
<div class="container mt-5 bg-light p-4 mb-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="">
            <h2>Products</h2>
            <hr class="text-primary border-primary border-bottom border-top-0 border-3" >
        </div>
    </div>
    <app-product></app-product>
</div>