<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">quantity</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="align-baseline">
          <tr *ngFor="let prd of productlist ; let index = index">
            <th>{{prd.id}}</th>
            <td>{{prd.title}}</td>
            <td><img [src]="prd.image" style="width: 150px; height:150px"></td>
            <td>{{prd.description}}</td>
            <td>{{+prd.price }}</td>
            <!-- <td>{{prd.rating.count}}</td> -->
            <td>{{prd.quantity}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(prd)">
                    Delete
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    
      <h2 class="text-end"> 
      </h2>
      <hr>

      <!-- <h5 class="text-end">Total Price:{{+totalPrice}}</h5> -->
</div>