

<div class="container">
    <section >
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
      
                      <form class="mx-1 mx-md-4" [formGroup]="adduser" >
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example1c">Your Name</label>
                            <input type="text" id="form3Example1c" class="form-control" formControlName="name" />
                            <div class="mt-3 pt-2" *ngIf="adduser.get('name')?.touched && adduser.get('name')?.invalid">
                                <span class="alert alert-danger " *ngIf="adduser.get('name')?.errors?.['required']">Please Enter Your Name</span>
                                <span class="text-danger" *ngIf="adduser.get('name')?.errors?.['minlength']">must enter a name with al least 4 character</span>
                            </div>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example3c">Your Email</label>
                            <input type="email" id="form3Example3c" class="form-control" formControlName="email"/>
                            <div class="mt-3 pt-2" *ngIf="adduser.get('email')?.touched && adduser.get('email')?.invalid">
                                <span class="alert alert-danger " *ngIf="adduser.get('email')?.errors?.['required']">Please Enter Your email</span>
                                <span class="alert alert-danger " *ngIf="adduser.get('email')?.errors?.['email']">Your Email not valid</span>
                            </div>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4c">Password</label>
                            <input type="password" id="form3Example4c" class="form-control" formControlName="password" />
                            <div class="mt-3 pt-2 w-100" *ngIf="adduser.get('password')?.touched && adduser.get('password')?.invalid">
                                <span class="alert alert-danger " *ngIf="adduser.get('password')?.errors?.['required']">Please Enter Your password</span>
                                <span class="alert alert-danger" *ngIf="adduser.get('password')?.errors?.['minlength']">Your Password less Than 7 character</span>
                            </div>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example4cd">Repeat your password</label>
                            <input type="password" id="form3Example4cd" class="form-control" formControlName="password2" 
                            (keyup)="validathionpass(adduser.value['password'],adduser.value['password2'])"/>
                            
                            <span class="text-danger "*ngIf='!check'>
                              "Your Password not matched" </span>
                              <!-- <div class="mt-3 pt-2" *ngIf="adduser.get('password2')?.touched && adduser.get('password2')?.invalid">
                                <span class="alert alert-danger w-100" *ngIf="adduser.get('password2')?.errors?.['required']">Please Enter Your password</span>
                              </div> -->
                          </div>
                        </div>
      
                        <div class="form-check d-flex justify-content-center mb-5">
                          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" formControlName="accept"/>
                          <label class="form-check-label" for="form2Example3">
                            I agree all statements in <a href="#!">Terms of service</a>
                          </label>
                          <div class="mt-3 pt-2 w-100" *ngIf="adduser.get('accept')?.touched && adduser.get('accept')?.invalid">
                            <span class="alert alert-danger " *ngIf="adduser.get('accept')?.errors?.['required']">Please checed the term</span>
                        </div>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="button" class="btn btn-primary btn-lg" [disabled]="adduser.invalid || adduser.get('accept')?.invalid">Register</button>
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                        class="img-fluid" alt="Sample image">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>