<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">
  <div class="container text-light">
    <a class="navbar-brand text-light" href="#">Teto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="/main">Home</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/main" tabindex="-1" aria-disabled="true">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/shoping" tabindex="-1">Shoping</a>
        </li>
      </ul>
      <div class="d-flex gap-4 me-5">


        <div  class="text-light d-flex align-items-baseline log_reg">
          <a routerLink="/cart" class="text-light text-decoration-none text-light">
            <i class="fs-5 fas fa-cart-plus"></i>
            <span style="font-size: 10px;" class="badge bg-danger">{{counter}}</span>
          </a>
        </div>
        <div *ngIf="!islog" class="text-light d-flex align-items-baseline log_reg">
          <a [routerLink]="['/login','']" class="text-light text-decoration-none text-light">
            <i class=" me-2 text-success fa-solid fa-user"></i>
            <p class="d-inline-flex m-0 p-0 text-light">Log In</p>
          </a>
        </div>

        <div *ngIf="islog" class="text-light d-flex align-items-baseline log_reg">
          <a routerLink="/logout" class="text-light text-decoration-none">
            <i class="me-2 text-danger fa-solid fa-user"></i>
            <p class="d-inline-flex m-0 p-0 text-light">Log Out</p>
          </a>
        </div>


        <!-- -------start Modal register---------- -->
        <div *ngIf="!islog" class="text-light log_reg">

          <a routerLink="/register" class="text-light text-decoration-none">
            <i class="me-2 text-success fa-solid fa-user-plus"></i>
            <p class="d-inline-flex m-0 p-0 text-light">Register</p>
          </a>
        </div>


      </div>
    </div>
  </div>
</nav>